<div class="container">
  <h2 class="jumbotron">GitHub Query</h2>
  <p>Enter the user name of any github user to search and display their account details.</p>
  <div class="row">
    <div class="col-md-4">
      <app-input-form
        (newInputSender)="searchInput($event)"
      ></app-input-form>
    </div>
    <div class="col-md-8">
      <div id="results" class="row" *ngIf="returnedUserData">
        <div class="col-sm-6" id="avatar" style="border-left: solid 1px grey;
          border-right: solid 1px grey;
        "><div>User Avatar:</div>
          <div><img src="{{returnedUserData.avatar_url}}" height="250" style="border-radius: 30%;"></div>
        </div>
        <div class="col-sm-6" id="about" >
          <h3>{{returnedUserData.login}} Details: </h3>
          <br>
          <p> UserName: {{returnedUserData.login}}</p>
          <p> Joined gitHub On: {{returnedUserData.created_at}}</p>
          <p> Public Repositories: {{returnedUserData.public_repos}}</p>
          <p> Follows {{returnedUserData.following}} GitHub users.</p>
          <p> {{returnedUserData.followers}} users follow {{returnedUserData.login}}s' work'</p>
          <p> For more information on the user, visit: <a href="{{returnedUserData.url}}">{{returnedUserData.url}}</a></p>
        </div>
      </div>
    </div>
  </div><hr>
  <div></div>
  <div id="repos"></div>
</div>
